.new-product-container {
    z-index: 1;
    margin-top: 1%;
}

.new-product-tab-bar {
    background-color: #fff !important;
    border-radius: 8px 8px 0 0;
}

.tab-label {
    color: #808080 !important;
}
.indicator {
    background-color: $blue !important;
}

.product-info {
    background: white;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-top: 1px solid rgba(0,0,0,0.2);
    border-left: 1px solid rgba(0,0,0,0.2);
    border-right: 1px solid rgba(0,0,0,0.2);
}

.select {
    display: flex !important;
    flex-wrap: wrap !important;
}

.dropdown-selected {
    background-color: $blue !important;
    color: white !important;
}

// Image Uploader
.upload-image-button {
    background: $blue !important;
}

.deleteImage {
    background: rgb(225, 0, 80) !important;
    font-size: 16px !important;
    font-weight: bold;
    line-height: 27px !important;
    width: 25px !important;
    height: 25px !important;
}

.fixed-width-input {
    width: 99% !important;
}