.new-product-container {
    z-index: 1;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
    margin-top:4.3%;
    width: 100%;
    background-color: #fff !important;
    border-radius: 8px 8px 0 0;
}

.new-product-tab-bar {
    background-color: #fff !important;
    box-shadow: none !important;
    border-bottom: 1px solid #E7E7E7;
}

.tab-label {
    color: $blue !important;
}
.indicator {
    background-color: $blue !important;
}

.product-info {
    background: white;
}