.new-product-container {
    z-index: 1;
    margin-top: 1%;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.2);
    border-left: 1px solid rgba(0,0,0,0.2);
    border-right: 1px solid rgba(0,0,0,0.2);
}

.new-product-tab-bar {
    background-color: #fff !important;
    border-radius: 8px 8px 0 0;
}

.tab-label {
    color: $blue !important;
}
.indicator {
    background-color: $blue !important;
}

.product-info {
    background: white;
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.select {
    display: flex !important;
    flex-wrap: wrap !important;
}

.dropdown-selected {
    background-color: $blue !important;
    color: white !important;
}