.products-background {
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
    position: absolute;
    background: linear-gradient(to right, #2D323E 0%, #3C4252 100%);
    pointer-events: none;
    background-size: cover;
}

.products-title {
    z-index: 1;
    color: white;
}

.flex {
    display: flex;
}

.cell-flex {
    display: flex;
    align-items: center;
}
.cell-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-field {
    width: 40%;
    z-index: 1;
}

.cell-image-container {
    width: 65%;
    margin: auto;
    margin-top: 5px;
    .cell-image {
        border-radius: 5px;
        text-align: left;
        background: #0000002b;
        padding: 4px;
}
}
.no-image {
    width: 20%;
    text-align: left;
}

.rt-thead {
    padding: 10px;
}

.ReactTable .rt-thead .rt-th, .ReactTable .rt-thead .rt-td {
    text-align: left;
    border-right: none;
}

.rt-tr-group:hover {
    background: rgba(45, 50, 62, 0.089);
    cursor: pointer;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.ReactTable {
  .-sort-desc {
    box-shadow: none !important;
    &:before {
        font-family: "Material Icons"; 
        content: "\e5db";
        float: right;
     }
  }

  .-sort-asc {
    box-shadow: none !important;
    &:before {
      font-family: "Material Icons"; 
      content: "\e5d8";
      float: right;
    }
  }
}