    .logo {
        width: 12%;
    }
    
    .promo-intro {
        background: linear-gradient(to right, #2D323E 0%, rgb(22, 25, 31) 100%);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 100vh;
        color: white;
    }

    .promo-content {
        padding: 9%;
        color: white;
    }

    .login-sign-up {
        background-color: white;
        color: $black;
        height: 100vh;
    }
    

    .login-form {
        padding: 15%;
        padding-top: 25%; 
    }